th, td {
    padding: 15px;
}
table, tr {
     border: 1px solid black;
}
.icons {
    height:24px;
    width:24px;
}
#logo {
    position: absolute;
    margin: auto;
    left: 0; 
    top: 0;
    bottom: 0;
    width: 240px;
    height: 64px;
}
