.logos {
    width: 80px;
    /* opacity: 0.85; */
    filter: alpha(opacity=50)
}
.logos:hover {
	 opacity: 0.7;
    filter: alpha(opacity=100);  
}
p {
    font-size: 20px;
}
    
a:link {
    text-decoration: none;
}

#recommended {
    padding: 20px;
    border: solid 2px #e7e7e7;
}
#recommendedText {
    background-color: #d0e1f1;
    text-align: center;
    padding: 8px;
}